In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Load the dataset
df = pd.read_csv('/home/silver/Healthcare-Chatbot-using-Natural-Language-Processing/Dataset/doctor information.csv')

In [2]:
print(df.head())

   Unnamed: 0                        Doctor's Name     speciality
0           0              Diem Truong, LAc, MSTOM  Acupuncturist
1           1                  Monique Rivera, LAc  Acupuncturist
2           2  Ronald Pratt, LAc, DiplAc, MA, MSAc  Acupuncturist
3           3                  Daniel Camburn, LAc  Acupuncturist
4           4   Deborah Barbiere, LAc, MSTOM, PsyD  Acupuncturist

In [3]:
df.shape

(9298, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9298 entries, 0 to 9297
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     9298 non-null   int64
 1   Doctor's Name  9298 non-null   object
 2   speciality     9298 non-null   object
dtypes: int64(1), object(2)
memory usage: 218.1+ KB

In [6]:
df.isnull().sum()

Unnamed: 0       0
Doctor's Name    0
speciality       0
dtype: int64

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
print(f"Number of duplicates: {df.duplicated().sum()}")

Number of duplicates: 5516

In [9]:
df

                            Doctor's Name          speciality
0                 Diem Truong, LAc, MSTOM       Acupuncturist
1                     Monique Rivera, LAc       Acupuncturist
2     Ronald Pratt, LAc, DiplAc, MA, MSAc       Acupuncturist
3                     Daniel Camburn, LAc       Acupuncturist
4      Deborah Barbiere, LAc, MSTOM, PsyD       Acupuncturist
...                                   ...                 ...
9293                 Tiffany Randazzo, NP  Nurse Practitioner
9294              Dr. Elliot Nadelson, MD           Urologist
9295             Dr. Dimitri Kessaris, MD           Urologist
9296                    Lyudmila Emag, NP  Nurse Practitioner
9297                 Tiffany Randazzo, NP  Nurse Practitioner

[9298 rows x 2 columns]

In [10]:
# Save cleaned dataset
df.to_csv('doctors information_cleaned.csv', index=False)